MYSQL_ROOT_PASSWORD=root
MYSQL_DATABASE=db_sekolah
MYSQL_USER=school_user
MYSQL_PASSWORD=school_password
MYSQL_PORT=3306

FRONTEND_PORT=3000
BACKEND_PORT=4000
DATABASE_CONNECTION_LIMIT=10

JWT_SECRET=change-this-secret
JWT_EXPIRES_IN=7d
JWT_COOKIE_NAME=access_token

SEED_ADMIN_NAME=Administrator
SEED_ADMIN_EMAIL=admin@smknusantara.sch.id
SEED_ADMIN_PASSWORD=admin12345
SEED_EDITOR_NAME=editor
SEED_EDITOR_EMAIL=editor@smknusantara.sch.id
SEED_EDITOR_PASSWORD=editor12345
